<div class="container">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4 text-center">
			<h3>退会画面</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4 text-center">
			<%= link_to "退会しない" , owners_shops_path , class:"btn btn-primary" %>
      <%= link_to "退会する" , owners_leave_path ,method: :patch, class:"btn btn-danger", data: { confirm: '本当に退会しますか？' } %>
    </div>
  </div>
</div>