/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background-color: #F0FFF0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: image-url("hoge.jpg");
  color: #004400;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin-top: 30px;
}
header {
  position: relative;
  width: 90%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}
footer {
  position: relative;
  margin: 20px auto;
  width: 90%;
  padding: 15px 0;
  text-align: center;
}

.footer-copyright{
float: center;
}

.shop_index_img {
    width: 90% ;
    height: auto;
}
.shop_show_img {
    width: 80% ;
    height: auto;
}
