// Place all the styles related to the owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.space{
	margin-bottom: 20px ;
}
.font{
	padding : 2px 0 ;
	font-size: 15px ;
	font-weight: lighter ;
}
.thick{
	font-weight: bolder;
}

.padd{
	padding: 25px 0;
}
.text_size{
	padding : 15px 0 ;
	font-size: 15px ;
}

