// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.holiday_list li{
	display:table-cell;
	float: left;
	margin-right: 10px ;
}
.tags_list {
	float: left;
	li{
		display:table-cell;
		padding-right: 15px ;
		white-space: nowrap ;
	}
}

th.image{
	text-align: center;
	width: 15% ;
}

th.shop_title {
 text-align: center;
 width: 50% ;
 }


.tags_address{
    text-align: center;
    width: 35% ;
}